<%- include('./adminHeader.ejs') %>


<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Basic form elements</h4>
        <p class="card-description"> Basic form elements </p>
        <form class="forms-sample" method="post" action="/admin/insertProducts" enctype="multipart/form-data">
        
          <div class="form-group">
            <label for="exampleInputName1">Name</label>
            <input type="text" class="form-control" id="exampleInputName1" style="color: rgb(252, 252, 252);width: 85%;" name="name" required>
          </div>
          <div class="form-group">
            <label for="exampleSelectCategory">Category</label>
            <select class="form-control" id="exampleSelectCategory" style="color: rgb(252, 252, 252);width: 85%;" name="category" required>
              <option></option>
              <% for(let i=0;i<categories.length;i++){ %>
              <option><%= categories[i].name %></option>
              <% } %>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleSelectCategory">Brand</label>
            <select class="form-control" id="exampleSelectCategory" style="color: rgb(252, 252, 252);width: 85%;" name="brand" required>
              <option></option>
              <% for(let i=0;i<brand.length;i++){ %>
              <option><%= brand[i].name %></option>
              <% } %>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword4">Models</label>
            <input type="text" class="form-control" id="exampleInputPassword4" style="color: rgb(252, 252, 252);width: 85%;" name="model" required>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword4">Material</label>
            <input type="text" class="form-control" id="exampleInputPassword4" style="color: rgb(252, 252, 252);width: 85%;" name="material" required>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword4">Price</label>
            <input type="number" class="form-control" id="exampleInputPassword4" style="color: rgb(252, 252, 252);width: 85%;" name="price" required>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword4">Stock</label>
            <input type="number" class="form-control" id="exampleInputPassword4" style="color: rgb(252, 252, 252);width: 15%;" name="stock" required>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword4">Discription</label>
            <textarea class="form-control" id="exampleInputPassword4" name="discription" style ="color: rgb(252, 252, 252);width: 85%; height: 80px;" required></textarea>
          </div>

          <div style="height: 100px; width: 30%;">
            <label for="ocs-productImage" class="ocs-product-label">Upload Image</label>
            <input type="file" id="ocs-productImage" name="image"  class="form-control" multiple onchange="previewImages()">
          </div>

          <h4>Added images</h4>
          <div id="imagePreview" style="display: flex; flex-wrap: wrap;"></div><br>

          <button type="submit" class="btn btn-primary me-2">Submit</button>
          <button class="btn btn-dark"><a href="/admin/products" style="text-decoration: none;color: rgb(252, 252, 252);">Cancel</a></button>
        </form>
      </div>
    </div>
  </div>



  <script>
    function previewImages() {
        const preview = document.getElementById('imagePreview');
        preview.innerHTML = '';
        const files = document.getElementById('ocs-productImage').files;
  
        if (files) {
            Array.from(files).forEach(file => {
                const reader = new FileReader();
  
                reader.onload = (e) => {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.maxWidth = '100px'; 
                    img.style.margin = '10px'; 
                    preview.appendChild(img);
                };
  
                reader.readAsDataURL(file);
            });
        }
    }
  </script>
  

<%- include('./adminFooter.ejs') %>



