
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>G Bags</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="/static/user/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/static/user/css/animate.css">
    
    <link rel="stylesheet" href="/static/user/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/user/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/user/css/magnific-popup.css">

    <link rel="stylesheet" href="/static/user/css/aos.css">

    <link rel="stylesheet" href="/static/user/css/ionicons.min.css">

    <link rel="stylesheet" href="/static/user/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/static/user/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/static/user/css/flaticon.css">
    <link rel="stylesheet" href="/static/user/css/icomoon.css">
    <link rel="stylesheet" href="/static/user/css/style.css">
    <link rel="stylesheet" href="/static/user/css/stylesx.css">
    <link rel="stylesheet" href="/static/user/css/userRegister.css">
    <link rel="stylesheet" href="/static/user/css/registerOTP.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

   
  </head>

<div class="oxf-main-container">
    <div class="oxf-login-container">
        <div class="oxf-left-section">
            <h2>New to our Shop?</h2>
            <p>Unleash your style with our exclusive collection of bags, Join us and discover the perfect accessory for every occasion</p>
            <button class="oxf-btn-secondary"><a href="/register" style="color: rgb(71, 38, 88); text-decoration: none;">Create an Account</a></button>
        </div>
        <div class="oxf-right-section" >
            <h2>Welcome Back!</h2>
            <p>Please Login now</p>
       <div style="height: 20px;">
            <% if (typeof message !== 'undefined') { %>
                <h6 class="text-center text-danger mb-4"  id="message" ><%= message %></h6>
            <% } %> 
        </div>
            <form class="oxf-login-form" action="/login" method="POST">
                <div class="oxf-form-group">
                    <label for="oxf-email">Email</label>
                    <input type="email" id="oxf-email" name="email" value="<%= data.email || '' %>" required>
                </div>
                <div class="oxf-form-group">
                    <label for="oxf-password">Password</label>
                    <input type="password" id="oxf-password" name="password" value="<%= data.password || '' %>" required>
                </div>
                <div class="oxf-form-group oxf-remember-group">
                    <input type="checkbox" id="oxf-remember-me" onclick="togglePassword()">
                    <label for="oxf-remember-me" style="font-size: small;">Show password</label>
                </div>
                <div class="oxf-btn-group">
                    <button type="submit" class="oxf-btn-primary">Log In</button>
                </div>
                <div class="oxf-forgot-password">
                    <a href="/forgot"><b>Forgot Password?</b></a>
                </div>
                <div class="oxf-or">OR</div>
                <a href="/auth/google" class="oxf-btn-google" style="text-decoration: none;">
                    <img src="/static/user/images/googleLOGO.png" > Continue with Google
                </a>
            </form>
        </div>
    </div>
</div>

<script>
    setTimeout(() => {
       const message = document.getElementById('message');
       if (message) {
           message.remove();
       }
    }, 3000);

    function togglePassword() {
        const passwordField = document.getElementById('oxf-password');
        const showPasswordCheckbox = document.getElementById('oxf-remember-me');
        if (showPasswordCheckbox.checked) {
            passwordField.type = 'text';
        } else {
            passwordField.type = 'password';
        }
    }


</script>


<%- include('./footer.ejs') %>
